ui-text = #C4C4C4


#profile-container
	height: 100%
	margin: auto
	max-width 40rem
	min-width 20rem
	#profile-details
		display: flex
		flex-direction: row
		justify-content flex-start
		#profile-picture
			background-image: url('../../assets/images/doggo.jpg')
			background-position: center center
			background-repeat: no-repeat
			background-size: cover
			border-radius: 50%
			display: inline-block
			height: 6rem
			margin: 2rem
			width: 6rem
		#profile-info
			color: ui-text
			margin-top: .5rem
		h1
			color: #333
			margin: 2rem 0 0
	nav
		background-color: #EEEEEE
		display: flex
		flex-direction: row
		justify-content: space-around
		padding: .5rem 0
		button
			font-size: 1em
			font-weight: 100
			color: #333
			border: none
			background: none
		.highlighted
			color: ui-text
			&:hover
				color:#DFDFDF
				
	#profile-questions, #profile-answers
		background-color: white
		height: 3rem
		padding: 1rem 1rem 1rem