<div id="verse-container">
  <div id="verse-card">
    <h1>{{(verse | async)?.book}} {{(verse | async)?.chapter}}:{{(verse | async)?.verse}}</h1>
    <p>{{(verse | async)?.text}}</p>
  </div>
  <div id="questions-list-container">
    <button id="top-btn">TOP</button>
    <app-verse-question></app-verse-question>
    <hr>
    <app-verse-question></app-verse-question>
  </div>

  <button id="ask-btn" (click)="toggleAskQuestion()">Ask Question</button>

  <div id="ask-question-container" [hidden]="hideAskQuestion">
    <form id="question-form" (ngSubmit)="submitQuestion()" #questionForm="ngForm">
      <textarea id="question-textarea" placeholder="Ask a question" [(ngModel)]="newQuestion.text" name="text"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>