<div id="signup-container">
	<div class="logo-lg">LOGO</div>

	<form id="signup-form">
		<div class="form-group">
			<input type="email" name="email" placeholder="Email" class="form-control" required>
		</div>
		<div class="form-group">
			<input type="text" name="fullname" placeholder="Full Name" class="form-control" required>
		</div>
		<div class="form-group">
			<input type="password" name="password" placeholder="Password" class="form-control" required>
		</div>
			<button type="submit" class="button-submit button-lg">Sign Up</button>
	</form>

	<div id="signup-social">
		<button id="signup-facebook" class="button-lg">Sign up with Facebook</button>
		<div id="signup-or" class="text-centered">or</div>
		<button id="signup-twitter">Twitter</button>
		<button id="signup-google">Google</button>
	</div>

	<div id="signin-link" class="text-centered">
		Already have an Account? Tap here to <br> <a id="signin-link-highlighted" href="">Sign In.</a>
	</div>
</div>