#signup-container
	height: 100%
	text-align: center
	// display: flex
	// justify-content: center
		
	.logo-lg
		font-size: 72px
		font-weight: bold
		color: #E1E1E1
		
	.form-group
		margin-bottom: 14px
		input
			box-sizing: border-box
			background-color: #F7F7F7
			border: none
			border-radius: 6px
			color: #C4C4C4
			font-size: 15px
			width: 313px
			padding: 13px 17px 
		
	.button-submit
		box-sizing: border-box
		width: 313px
		border: none
		border-radius: 6px
		padding: 13px 0px
		text-align: center
		font-size: 15px
		background-color: #6DC675
		color: white