<div id="register-container">
	<div class="logo-lg">LOGO</div>

	<form id="register-form" (ngSubmit)=onSubmit() #registerForm="ngForm">
		<div class="form-group">
			<input type="text" name="fullname" placeholder="Full Name" class="form-control" required [(ngModel)]="newUser.fullname">
		</div>
		<div class="form-group">
			<input type="email" name="email" placeholder="Email" class="form-control" required [(ngModel)]="newUser.email">
		</div>
		<div class="form-group">
			<input type="password" name="password" placeholder="Password" class="form-control" required [(ngModel)]="newUser.password">
		</div>
			<button type="submit" class="button-submit button-lg">Register</button>
	</form>

	<div id="register-social">
		<button id="register-facebook" class="button-lg" (click)="userService.fbSignin()">Register with Facebook</button>
		<div>
			<button id="register-twitter" (click)="userService.twitterSignin()">Twitter</button>
			<button id="register-google" (click)="userService.googleSignin()">Google</button>
		</div>
	</div>

	<div id="signin-link" class="text-centered">
		<a routerLink="/signin" routerLinkActive="active" href="">Sign in with existing account.</a>
	</div>
</div>
