.button-lg // Sign Up Submit Button, Sign Up Facebook Button
	border-radius: 6px
	border: none
	box-sizing: border-box
	color: white
	font-size: 16px
	font-weight: bold
	text-align: center
	width: 313px
	

#signup-container
	height: 100%
	margin: 50px 0px
	min-width: 373px
	text-align: center 
	// display: flex
	// justify-content: center
	.logo-lg
		color: #E1E1E1
		font-size: 72px
		font-weight: bold
		margin-bottom: 50px
	#signup-form	
		.form-group
			margin-bottom: 14px
			input // Email, Full Name, Password
				background-color: #F7F7F7
				border-radius: 6px
				border: none
				box-sizing: border-box
				font-size: 15px
				padding: 13px 17px 				
				width: 313px
		.button-submit
			background-color: #6DC675
			padding: 13px 0px
	#signup-social
		#signup-facebook
			background: #3B5998 url(images/facebook_icon.svg) 53px 12px no-repeat
			margin-top: 30px
			padding: 13px 0px 13px 32px
		#signup-or
			margin: 15px 0px 15px
		button // signup-twitter, signup-google
			border: none
			box-sizing: border-box
			font-size: 15px
			font-weight: bold
			text-align: center
		#signup-twitter
			background: white url(images/twitter_icon.svg) 12px 2px no-repeat
			color: #00ACED
			padding: 5px 40px 5px 40px
		#signup-google
			background: white url(images/google_icon.svg) 12px 2px no-repeat
			color: #C4C4C4
			padding: 5px 18px 5px 40px
	#signin-link
		font-weight: 300
		margin-top: 30px
		#signin-link-highlighted
			color: #6DC675
			text-decoration: none   