.button-lg // Sign Up Submit Button, Sign Up Facebook Button
	border-radius: 6px
	border: none
	box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08)
	box-sizing: border-box
	color: white
	font-size: 16px
	font-weight: bold
	text-align: center
	width: 313px
	transition: all .15s ease;

// Animations

	
#signin-facebook:hover
	background-color: hsla(221,44%,45%,1) !important
	box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)
	transform: translate(0,-1px)
	transition: all .15s ease;
	
#signin-facebook:active
	background-color: hsla(221,44%,37%,1) !important
	box-shadow: 0 0 0
	color: hsla(221,28%,92%,1)
	transform: translate(0,1px)
	transition: all .15s ease;

#signin-container
	height: 100%
	margin: 50px 0px
	min-width: 373px
	text-align: center 
	// display: flex
	// justify-content: center
	.logo-lg
		color: #E1E1E1
		font-size: 72px
		font-weight: bold
		margin-bottom: 80px
	#signin-form	
		.form-group
			margin-bottom: 14px
			input // Email, Full Name, Password
				background-color: #F7F7F7
				border-radius: 6px
				border: none
				box-sizing: border-box
				font-size: 15px
				padding: 13px 17px 				
				width: 313px
		.button-submit
			background-color: #6DC675
			padding: 13px 0px
			transition: all .15s ease
// Animations ------------------------------------------------------
		.button-submit:hover
			background-color: hsla(125,44%,63%,1) !important
			box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)
			transform: translate(0,-1px)
			// transition: all .15s ease
		.button-submit:active
			background-color: hsla(125,44%,56%,1) !important
			box-shadow: 0 0 0
			color: hsla(125,28%,92%,1)
			transform: translate(0,1px)
			// transition: all .15s ease
//-------------------------------------------------------------------
	#signin-social
		#signin-facebook
			background: #3B5998 url(images/facebook_icon.svg) 53px 12px no-repeat
			margin-top: 30px
			padding: 13px 0px 13px 32px
		#signin-or
			margin: 15px 0px 15px
		button // signin-twitter, signin-google
			border: none
			box-sizing: border-box
			font-size: 15px
			font-weight: bold
			text-align: center
		#signin-twitter
			background: white url(images/twitter_icon.svg) 12px 2px no-repeat
			color: #00ACED
			padding: 5px 40px 5px 40px
		#signin-google
			background: white url(images/google_icon.svg) 12px 2px no-repeat
			color: #C4C4C4
			padding: 5px 18px 5px 40px
	#signup-link
		font-weight: 300
		margin-top: 30px
		#signup-link-highlighted
			color: #6DC675
			text-decoration: none   