 .verse-question-container
      clear: both
      box-sizing: border-box 
      padding: 25px 0px
      p
        font-weight: 300
        font-size: 15px
        margin: 0
        margin-bottom: 7px
      .verse-question-stats
        font-size: 11px 
        color: #C4C4C4
        font-weight: 300
        .heart
          cursor: pointer