 .question-answer-container
      padding: 30px 
      .answer-stats
        font-size: 11px
        color: #C4C4C4
        font-weight: 300
      p
        font-size: 15px
        color: #333333
        margin: 0 
        margin-top: 5px