<div id="main-container">
	<div id="menu-container">
		<div id="menu-spacer"></div>
		<div id="menu-small">
			<ul>
				<li><input type="text" name="search"></li>
				<li><a id="bible-small" routerLink="/">Bible</a></li>
				<li><a id="feed-small" routerLink="/">Feed</a></li>
				<li><a id="profile-small" routerLink="/profile">Profile</a></li>
			</ul>
		</div>
		<div id="menu-large">
			<ul>
				<li><a id="search-lg" routerLink="/">Search</a></li>
				<li><a id="bible-lg" routerLink="/">Bible</a></li>
				<li><a id="feed-lg" routerLink="/">Feed</a></li>				
				<li><a id="profile-lg" routerLink="/profile">Profile</a></li>
			</ul>
		</div>
	</div>
	<router-outlet></router-outlet>
</div>