
#bible-container
  h1
    font-size: 28px
    text-align: center
    margin: 95px 0px
    
  span
    line-height: 26.4px
    
  .blue
    color: #0076FF
    
  .red
    color: #FF512E
    
  .yello
    color: #FF9600