
#bible-container
  padding: 0em 2em
  h1
    font-size: 28px
    text-align: center
    margin: 95px 0px
    
  span
    line-height: 26.4px
    
  .verse-num
    position: relative 
    font-size: 12px
    bottom: 4px
    right:2px
    cursor: pointer
    margin-left: 1px
    font-weight: bold

  .blue
    color: #0076FF
    
  .red
    color: #FF512E !important
    
  .yellow
    color: #FF9600
    