
<div id="bible-container"
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled) = "onScrollDown()">
  <div *ngFor="let chapter of chapters; let i=index ">
    <h1>{{(chapter | async | jsonIndex:0)?.book}} {{(chapter | async | jsonIndex:0)?.chapter}}</h1> 
    <span class="verse-text" *ngFor="let verse of chapter | async; let j=index ">
      <br [hidden]="!verse.newParagraph">
      <span [hidden]="!verse.newParagraph">&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span class="verse-num"
      [class.blue]="(verseStats[i] | async | jsonIndex:j)?.questionsCount == 0"
      [class.yellow]="(verseStats[i] | async | jsonIndex:j)?.questionsCount > 0"
      [class.red]="checkNew((verseStats[i] | async | jsonIndex:j)?.newestQuestionDate)"
      (click)="onVerseSelect(verse.$key)">{{verse.verse | json}}</span>{{(verse.text | json).slice(1, -1).split('\\\\\\').join("")}} 
    </span>
  </div>
</div>
