
<div id="bible-container">
<h1>Genesis 1</h1>

<span><span>1 </span>In the beginning God created the heavens and the earth. </span> 

<span> <span>2 </span>Now the earth was formless and empty, darkness was over the surface of the deep, and the Spirit of God was 
hovering over the waters.</span>

<span><span>3 </span>And God said, “Let there be light,” and there was light.</span> 

<span><span>4 </span>God saw that the light was good, and he separated the light from the darkness. </span>

<span><span>5 </span>God called the light “day,” and the darkness he called “night.” And there was evening, and there was morning—the first day.</span>

<span><span>6 </span>And God said, “Let there be a vault between the waters to separate water from water.” </span>

<span><span>7 </span>So God made the vault and separated the water under the vault from the water above it. And it was so.</span> 

<span><span>8 </span>God called the vault “sky.” And there was evening, and there was morning—the second day. </span>

<span><span>9 </span>And God said, “Let the water under the sky be gathered to one place, and let dry ground appear.” And it was so.</span>

<span><span>10 </span>God called the dry ground “land,” and the gathered waters he called “seas.” And God saw that it was good.</span>

</div>
