<div id="question-container">
  <div id="question-inner-container">
    <div id="question-card">
      <p>{{(question | async)?.text}}</p>
      <div id="question-stats">
        <i class="fa fa-heart-o"></i> 25 &#183; 2 Answers &#183; 7 days ago by Noah
      </div>
    </div>
    <hr>

    <div *ngFor="let answer of answers | async">
      <app-question-answer [answer]="answer"></app-question-answer>
      <hr>
    </div>

  </div>
  <button id="answer-btn" (click)="toggleAnswerQuestion()">Answer this Question</button>

  <div id="answer-question-container" [hidden]="hideAnswerQuestion">
    <form id="answer-form" (ngSubmit)="submitAnswer()" #answerForm="ngForm">
      <textarea id="answer-textarea" placeholder="type your answer" [(ngModel)]="newAnswer.text" name="text"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>  

</div>
