<div id="question-container">
  <div id="question-inner-container">
    <div id="question-card">
      <p>{{(question | async)?.text}}</p>
      <div id="question-stats">
        <i class="fa fa-heart-o"></i> 25 &#183; 2 Answers &#183; 7 days ago by Noah
      </div>
      <button id="answer-btn" (click)="toggleAnswerQuestion()">Answer this</button>
    </div>

    <div id="answers-container" *ngFor="let answer of answers | async">
      <app-question-answer [answer]="answer"></app-question-answer>
    </div>

  </div>
<!--   <button id="answer-btn" (click)="toggleAnswerQuestion()">Answer this Question</button> --> 

  <div id="answer-question-container" [hidden]="hideAnswerQuestion">
    <button id="exit-button" (click)="toggleAnswerQuestion()"></button>
    <div id="text-options">
      <span id="bold-btn"></span>
      <span id="italicize-btn"></span>
    </div>
    <form id="answer-form" (ngSubmit)="submitAnswer()" #answerForm="ngForm">
      <textarea placeholder="type your answer" [(ngModel)]="newAnswer.text" name="text"></textarea>
      <button id="submit-button" type="submit">Submit</button>
    </form>
  </div>
</div>
